/* для выделения полей */

.form_box .req:invalid {
  border: 2px solid red;
}
.form_box .req:valid {
  border: 2px solid green;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: Arial, Helvetica, sans-serif;
  font-weight: 300;
  color: #333;
}

body {
  background-color: #f2f2f2;
  height: 100vh;
  align-items: center;
  justify-content: center;
  font-family: Helvetica, sans-serif;
  color: #556;
  font-weight: 300;
  font-size: 16px;
}

body.reg,
body.auth {
  display: flex;
}

nav {
  height: 70px;
  padding: 30px;
  margin-bottom: 10px;
}

a {
  color: #7c9ab7;
  font-weight: bold;
  text-decoration: none;
}

p {
  margin: 10px 0;
}

form {
  display: flex;
  flex-direction: column;
  width: 400px;
}

input {
  margin: 10px 0;
  padding: 10px;
  border: unset;
  border-bottom: 2px solid #e3e3e3;
  outline: none;
}
